body {
    font-family: 'LCD', sans-serif;
    font-family: 'LCD2', sans-serif;
    font-family: 'LCDMono2', sans-serif;
    font-family: 'LCDMono', sans-serif;
    font-family: 'Digitalism', sans-serif;
    /*downloaded from sus website lol*/
}

/*Display box*/
.display-box {
    display: flex;
    flex-direction: row;
    border: solid black;
    width: 285px;
    margin: 4px;
    padding: 4px 15px;
    font-size: 28px;
    background-color: rgb(243, 236, 236);
    border-radius: 10px;
    align-items: left;
    justify-content: space-between;
}

#display {
    
    
}

#equal-display {
    background-color: red;
}

/*Calculator buttons*/
.calculator-box {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    gap:15px;
    align-items: center;
    justify-content: center;
    border: 2.5px solid black; 
    border-radius: 12px;
    max-width: 200px;
    margin: auto;
    background-color:rgb(207, 249, 196);
    padding: 30px 60px;
    margin-bottom: 6px;
}

button {
    background-color: rgb(38, 100, 38);
    font-size: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    outline: none;
    border:none;
    box-shadow: 1px 2px rgb(197, 196, 196);
    border-radius: 2px;
    padding: 6px;
    height: 50px;
    
    font-family: 'LCD', sans-serif;
    font-family: 'LCD2', sans-serif;
    font-family: 'LCDMono2', sans-serif;
    font-family: 'LCDMono', sans-serif;
    font-family: 'Digitalism', sans-serif;
}

.number-btn {
    background-color: rgb(66, 133, 66);
}

button:hover {
    background-color: yellow;
}

button:active {
    background-color:rgb(172, 172, 10);
    box-shadow: 0px 4px rgb(116, 115, 115);
    transform: translateY(4px);
}

/*Calculator holder*/
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid green;
    max-width: 335px; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: rgb(64, 109, 68);

}
