body {
    font-family: 'LCD', sans-serif;
    font-family: 'LCD2', sans-serif;
    font-family: 'LCDMono2', sans-serif;
    font-family: 'LCDMono', sans-serif;
    font-family: 'Digitalism', sans-serif;
    /*downloaded from sus website lol*/
}

.calculator-box {
    display: grid;
    grid-template-columns: 45px 45px 45px 45px;
    gap:10px;
    align-items: center;
    justify-content: center;
    border: 2.5px solid black; 
    border-radius: 12px;
    max-width: 200px;
    padding: 10px;
    margin: auto;
    background-color: rgba(17, 163, 17, 0.312);

}


#display {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    border: solid black;
    justify-content: center;
    max-width: 180px;
    margin: auto;
}

button {
    background-color: rgb(32, 140, 32);
    font-size: 18px;
    color: white;
    text-align: center;
    cursor: pointer;
    outline: none;
    border:none;
    box-shadow: 1px 2px rgb(197, 196, 196);
    border-radius: 2px;

    font-family: 'LCD', sans-serif;
    font-family: 'LCD2', sans-serif;
    font-family: 'LCDMono2', sans-serif;
    font-family: 'LCDMono', sans-serif;
    font-family: 'Digitalism', sans-serif;
}

button:hover {
    background-color: yellow;
}

button:active {
    background-color:rgb(172, 172, 10);
    box-shadow: 0px 2px rgb(116, 115, 115);
    transform: translateY(2px);
}

.calculator {
    border: solid green;
    max-width: 250px;  
    margin-left: auto;
    margin-right: auto;      
}